{% load staticfiles %}
<html>
    <head>
        <style>

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #153b77;
}

li {
    float: left;


}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
        margin-top: -40;

}

li a:hover {
    background-color: #142238;
}

h1 {
    color: #FCA205;
    font-family: 'Lobster';
    padding-bottom: 40;
}
</style>

        <title>Software</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/front_page.css' %}">

        <div class="page-header">
            <h1>O-Ribosome Software Tool</h1>


<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/software">Software</a></li>
  <li><a href="/discussion">Discussion</a></li>
  <li><a href="/about">About</a></li>
</ul>


        </div>

    </head>

    <body>
    	[About page]
    </body>
    </html>