{% extends 'website/base.html' %}

{% block content %}
<!-- <form medthod="post" action="/do_stuff/">
  input1:<br>
  <input type="text" name="input1"><br>
  input2:<br>
  <input type="text" name="input2"><br><br>
  <input type="submit">
</form> -->

Here is a test link for downloads: <a href="https://drive.google.com/file/d/1_YF5r3fxxTulFKEK88OTjdTkZhCUptix/view" download>Download link</a>

<form action="/do_stuff/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}







